# Exploratory Data Analysis
This notebook is focused on configuration, properly importing, and performing basic
statistical analysis on the data received. 

We will start with the basic imports:

In [1]:
# Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Utilities
import json

The next task is to import the data. It is stored in a json format across multiple files.

*NOTE: Please use the README.md of this repository to determine how the data will be located,
as well as a location for downloading the data.*

In [3]:
# File Locations
file_location = 'dataset/data/yelp_academic_dataset_'
file_type = '.json'

## Utility Loading Function
We are next going to create a utility function called `load_json`. This function is going to facilitate the loading of the 
complex `.json` data files that cannot be read directly by Pandas. This function will follow this specification:

**Description:** It will take a single unlabeled argument that contains the path to the json file containing data to read.

**Returns:** It will return a single pandas data frame that contains all data from the provided file.

**Errors:** Any errors thrown will be those thrown from the operating system failing to locate/open the file, or invalid creation
of a data frame.

In [4]:
def load_json(path, line_limit=None, encoding='utf-8'):
    temp = []
    with open(path, encoding=encoding) as fl:
        for i, line in enumerate(fl):
            temp.append(json.loads(line))
            if line_limit is not None:
                if i + 1 > line_limit:
                    break
    return pd.DataFrame(temp)

## Reading the Input
Now we will use the loaded filepath names and the newly created function to read the data into named data frames.

We will display the first 5 elements to show a sample of each data file. We will set a global line limit for slower systems:

In [5]:
global_line_limit = 1e+7

In [6]:
business_data = load_json(f'{file_location}business{file_type}', line_limit=global_line_limit)
business_data.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [7]:
checkin_data = load_json(f'{file_location}checkin{file_type}', line_limit=global_line_limit)
checkin_data.head()

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

In [8]:
review_data = load_json(f'{file_location}review{file_type}', line_limit=global_line_limit)
review_data.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [9]:
tip_data = load_json(f'{file_location}tip{file_type}', line_limit=global_line_limit)
tip_data.head()

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0

In [10]:
user_data = load_json(f'{file_location}user{file_type}', line_limit=global_line_limit)
user_data.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

## Describing the Input
This section aims to describe the data columns numerically, to better understand the structure
of the given data.

In [11]:
print(f'The shape of the business data: {business_data.shape}')
business_data.describe()

The shape of the business data: (150346, 14)

,latitude,longitude,stars,review_count,is_open
count,150346.000000,150346.000000,150346.000000,150346.000000,150346.00000
mean,36.671150,-89.357339,3.596724,44.866561,0.79615
std,5.872759,14.918502,0.974421,121.120136,0.40286
min,27.555127,-120.095137,1.000000,5.000000,0.00000
25%,32.187293,-90.357810,3.000000,8.000000,1.00000
50%,38.777413,-86.121179,3.500000,15.000000,1.00000
75%,39.954036,-75.421542,4.500000,37.000000,1.00000
max,53.679197,-73.200457,5.000000,7568.000000,1.00000

In [12]:
print(f'The shape of the checkin data: {checkin_data.shape}')
checkin_data.describe()

The shape of the checkin data: (131930, 2)

,business_id,date
count,131930,131930
unique,131930,131930
top,---kPU91CF4Lq2-WlRu9Lw,"2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020..."
freq,1,1

In [13]:
print(f'The shape of the review data: {review_data.shape}')
review_data.describe()

The shape of the review data: (6990280, 9)

              stars        useful         funny          cool
count  6.990280e+06  6.990280e+06  6.990280e+06  6.990280e+06
mean   3.748584e+00  1.184609e+00  3.265596e-01  4.986175e-01
std    1.478705e+00  3.253767e+00  1.688729e+00  2.172460e+00
min    1.000000e+00 -1.000000e+00 -1.000000e+00 -1.000000e+00
25%    3.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    4.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
75%    5.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
max    5.000000e+00  1.182000e+03  7.920000e+02  4.040000e+02

In [14]:
print(f'The shape of the tip data: {tip_data.shape}')
tip_data.describe()

The shape of the tip data: (908915, 5)

       compliment_count
count     908915.000000
mean           0.012525
std            0.120763
min            0.000000
25%            0.000000
50%            0.000000
75%            0.000000
max            6.000000

In [15]:
print(f'The shape of the user data: {user_data.shape}')
user_data.describe()

The shape of the user data: (1987897, 22)

,review_count,useful,funny,cool,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
count,1.987897e+06,1.987897e+06,1.987897e+06,1.987897e+06,1.987897e+06,1.987897e+06,1.987897e+06,1.987897e+06,1.987897e+06,1.987897e+06,1.987897e+06,1.987897e+06,1.987897e+06,1.987897e+06,1.987897e+06,1.987897e+06,1.987897e+06
mean,2.339441e+01,4.229634e+01,1.697054e+01,2.379291e+01,1.465740e+00,3.630494e+00,1.807072e+00,2.922631e-01,1.793176e-01,1.336493e-01,6.390723e-02,1.443135e+00,3.011841e+00,2.829308e+00,2.829308e+00,1.056448e+00,1.226859e+00
std,8.256699e+01,6.414806e+02,4.078034e+02,5.653513e+02,1.813075e+01,1.183337e+00,7.360184e+01,1.282467e+01,1.515525e+01,1.135682e+01,1.004363e+01,6.016790e+01,1.193898e+02,9.666385e+01,9.666385e+01,3.217973e+01,9.515751e+01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,5.000000e+00,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.880000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.700000e+01,1.300000e+01,2.000000e+00,3.000000e+00,0.000000e+00,4.560000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,1.747300e+04,2.062960e+05,1.858230e+05,1.998780e+05,1.249700e+04,5.000000e+00,2.578400e+04,1.350100e+04,1.418000e+04,1.365400e+04,1.266900e+04,5.903100e+04,1.010970e+05,4.996700e+04,4.996700e+04,1.593400e+04,8.263000e+04

## Data Cleanup
The next major task that needs to be accomplished is a further parsing of specific columns within certain parts of the data set that 
could be better represented in another, Python-native, format.

For example, within the business data file, there is an `attributes` column containing attributes/tags that are voluntarily recommended
by business owners. These should be separated out and merged into a new data frame. This is not the only instance in which
malformed data is present. All of these instances will be rectified here, and new/separate frames will be generated containing
this data in a more-manageable format.


**Business Attributes**
First, we will work with the `attributes` column in the `business_data` frame. Data in this column is an optional, and often
incomplete list of tags that have been explicitly marked with the strings 'True' and 'False' to indicate preference. We will 
create a new data frame called business_data_attributes that contains all of these attributes as columns, and the individual 
business ids provided as rows. Data in this new frame will be stored as either 1.0 for True, 0.0 for False, and NaN for an
unknown/unprovided value.

In [16]:
# Step 1: Creating data dictionary
attribute_dict = {}
for idx, row in business_data.iterrows():
    if row['attributes'] is not None:
        for key, value in row['attributes'].items():
            if isinstance(value, str):
                value = float(value.lower() == 'true')
            if key not in attribute_dict:
                attribute_dict[key] = {}
            attribute_dict[key][row['business_id']] = float(value)
# Step 2: Create DataFrame from Dictionary and Concatenate
dfs = []
for col, data_dict in attribute_dict.items():
    temp_df = pd.DataFrame.from_dict(data_dict, orient='index', columns=[col], dtype=pd.SparseDtype('float', np.nan))
    dfs.append(temp_df)
    
business_data_attributes = pd.concat(dfs, axis=1)
    
business_data_attributes.head()

,ByAppointmentOnly,BusinessAcceptsCreditCards,BikeParking,RestaurantsPriceRange2,CoatCheck,RestaurantsTakeOut,RestaurantsDelivery,Caters,WiFi,BusinessParking,...,AcceptsInsurance,BestNights,BYOB,Corkage,BYOBCorkage,HairSpecializesIn,Open24Hours,RestaurantsCounterService,AgesAllowed,DietaryRestrictions
Pns2l4eNsfO8kk83dixA6A,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tUFrWirKiKi_TAnsVWINQQ,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MTSW4McQd7CbVtyjqoe9mw,0.0,0.0,1.0,0.0,NaN,1.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CF33F8-E6oudUQ46HnavjQ,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bBDDEgkFA1Otx9Lfe7BZUQ,0.0,1.0,NaN,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In order to get some simple statistics regarding the data, we can use Pandas filtering. Here we will look for the total number of attributes and how many businesses have marked themselves as 
having this attribute.

In [17]:
business_attribute_counts = business_data_attributes[business_data_attributes == 1.0].count().sort_index().reset_index()
business_attribute_counts.columns = ['Attribute', 'Business Count']
print(f'There are {business_attribute_counts.shape[0]} attributes.')
print(f'There are {(business_attribute_counts["Business Count"] == 0).sum()} empty attributes.')

max_attr = business_attribute_counts.loc[business_attribute_counts["Business Count"] == business_attribute_counts["Business Count"].max(), "Attribute"]
print(f'The {max_attr.iloc[0]} attribute is the most popular, with {business_attribute_counts["Business Count"].max()} businesses.')
business_attribute_counts.head()

There are 39 attributes.
There are 15 empty attributes.
The BusinessAcceptsCreditCards attribute is the most popular, with 113667 businesses.

          Attribute  Business Count
0  AcceptsInsurance            3938
1       AgesAllowed               0
2           Alcohol               0
3          Ambience               0
4              BYOB            1002